.hobbies {
  box-shadow: 0px 2px 10px rgb(26, 23, 23);
  padding: 4rem;
  background: linear-gradient(to bottom right, #000000 0%, #242222 84%);
}

h1 {
  text-align: center;
  color: #9400D3;
}

.heading {
  text-align: center;
  color: #fff;
}